<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/dc52e2c957.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body class="mat-app-background">
  <mat-toolbar >
    <label class="logo">Portfo<span class="title">lio</span></label>
    <div class="flex"></div>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa-solid fa-bars" ></i>
    </label>
    <div class="nav">
     <a  routerLink="" >Home</a>
      <a  routerLink="/about" class="active">About</a>
      <a  routerLink="/skills">Skills</a>
      <a  routerLink="/services">Services</a>
      <a  routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar>
  <h1 style="color:palevioletred ; font-weight:bold ; font-size:35px ; margin-top:30px ; text-align:center ;">About Me</h1>
  <div class="about">
    <img src="../../../docs/assets/images/b78ec23d-d97a-4475-b9b9-c35e71029b83.jpg" height="25%" width="23%" class="pic">
    <div class="me">
      <p >My name is <span>B.Anil</span> and i am Graduated student from kommuri pratap reddy institute of technology specialisation in computer science engineering.My hobbies are playing cricket,learning new technical skills.</p>
      <div class="resume">
      <a  download="" class="active"  href="../../assets/Anu resume.pdf">Donwnload CV</a>

    </div>
    </div>
    </div>
</body>
</html>
