<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="mat-app-background">
  <mat-toolbar >
    <label class="logo">Portfo<span class="title">lio</span></label>
    <div class="flex"></div>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa-solid fa-bars" ></i>
    </label>
    <div class="nav">
     <a  routerLink="">Home</a>
      <a  routerLink="/about">About</a>
      <a  routerLink="/skills">Skills</a>
      <a  routerLink="/services" class="active">Services</a>
      <a  routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar><br>
  <div class="services">
    <div class="container">
      <h1 style="font-weight:bold; text-align: center; font-size:35px; margin-top:25px; color: palevioletred; ">My Services</h1>
      <div class="card">
        <div class="back">
          <img src="../../assets/images/code-solid.svg" class="img" style="margin-top:45px ;"  >
          <h2 style="text-align:center;font-size: 25px; margin-top: 10px; " >Web Development</h2>
        </div>
        <div class="back">
          <img src="../../assets/images/app-store.svg" class="img" style="margin-top:45px ;">
          <h2 style="text-align:center ; font-size: 25px; margin-top: 10px;">App development</h2>
        </div>
        <div class="back">
          <img src="../../assets/images/business-time-solid.svg" class="img" style="margin-top:45px ;">
          <h2 style="text-align:center ; font-size: 25px; margin-top: 10px;">Digital Marketing</h2>
        </div>

      </div>

    </div>

  </div>
  </body>
  </html>
