<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/dc52e2c957.js" crossorigin="anonymous"></script>
</head>
<body class="mat-app-background">
  <div>
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa-solid fa-bars" ></i>
  </label>

  <label class="logo">Portfo<span class="title">lio</span></label>
    <ul id="sidemenu" >
      <li><a routerLink="" class="active">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

  </nav>
<div class="back"></div>
<div class="introduction">
  <p class="intro"><span class="colo">My</span> name is</p><br>
  <h1 class="name">Birru Anil</h1><br>
  <p class="profession">I am a Graduated student</p>
</div>
</div>
</body>
</html>




